.outer {
	width: 100%;
}

.inner {
	max-width: 640px;
	position: relative;
}

#qt-header {
	background-color: #2c2c2c;
	box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 5px 0px;
	color: #F2F2F2;
	padding: 0 0 25pt 0;
	max-height: 30%;
	height: 30%;
}

#qt-title {
	text-align: left;
	text-shadow: 0 0 10px #111; 
}

#qt-content {
	text-align: left;
	padding: 15pt 0 15pt 0;
	min-height: 350px;
}

#qt-footer {
	/*background-color: #473F36;*/
	background-color: #2c2c2c;
	box-shadow: rgba(0, 0, 0, 0.3) 2px -2px 5px 0px;
	color: #F2F2F2;
	padding: 15pt 0 30pt 0;
	font-size: 11pt;
}

.left-pane {
	float: left;
}

.right-pane {
	float: right;
}

#credits {
	text-align: left;
}

@font-face {
	font-family: "Fira Sans"
	src: url("font/FiraSans-Regular.otf");
}

body {
	font-family: "Fira Sans";
	background-color: #F0F0F0;
	font-size: 13pt;
	width: 100%;
	margin: 0;
}

#project-title {
	font-weight: bold;
	font-size: 40pt;
}

#shortdesc {
	font-size: 13pt;
}

#gh-project {
	background-color: #27B893;
	box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 5px 0px;
	position: absolute;
	padding: 10px 50px 10px 15px;
	font-size: 15pt;
	color: white;
	font-weight: bold;
	background-image: url("../img/brand/GitHub-Mark-Mini.png");
	background-position: 95% 50%;
	background-repeat: no-repeat;
	display: block;
	top: 0px;
	right: 0px;
}

a {
	text-decoration: none;
	color: #27B893;
}

p {
	text-align: justify;
}

pre {
	background-color: white;
	padding: 15pt 25pt 15pt 25pt;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px 0px;
	color: #777;
}

.screenshot {
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 0px;
	width: 100%;
	border-radius: 3px;
}

.screenshot-round {
	border-radius: 10px;
}

hr {
	color: rgba(0, 0, 0, 0.2);
	height: 1px;
}

#download-wrapper {
	position: absolute;
	background-color: #27B893;
	bottom: -65px;
	right: 25px;
	border-radius: 100%;
	padding: 25px;
	box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 5px 0px;
	z-index: 2;
}

#profile-pic-wrapper {
	position: absolute;
	background-color: #27B893;
	bottom: -70px;
	right: 30px;
	border-radius: 100%;
	width: 134px;
	height: 134px;
	box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 5px 0px;
	z-index: 2;
}

.profile-pic {
	border-radius: 100%;
	margin: 3px 3px 3px 3px;
	width: 128px;
	height: 128px;
}

#download {
	width: 25px;
	height: 25px;
}

img.fab:hover {
	width: 101%;
	height: 101%;
}

.card {
	background-color: white;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px 0px;
	padding: 5px 30px 5px 30px;
	z-index: -1;
}