*.html
autom4te.cache
stamp-h1
Makefile
config.status
config.log
config.h
aclocal.m4
Makefile.in
config/
config.h.in
configure
*~
build*/
m4
GIT_REVISION
SVN_REVISION
libtool
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda
app.info
coverage_report
INSTALL
compile
depcomp
install-sh
missing
src/application10/
src/resources.c
src/quetzal
src/tags
intltool-extract.in
intltool-merge.in
intltool-update.in
po/Makefile.in.in
po/POTFILES
po/stamp-it
tags
.buildconfig
po/.intltool-merge-cache
po/*.gmo
data/*.gschema.valid
data/*.desktop

